.main-project-description{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

@keyframes bounceRight {
  0%, 20%, 50%, 80%, 100% {
    transform: rotate(180deg) translateX(0);
  }
  40% {
    transform: rotate(180deg) translateX(8px);
  }
  60% {
    transform: rotate(180deg) translateX(4px);
  }
}

.bouncingArrow {
  animation: bounceRight 1.2s ease-in-out infinite;
}